<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import font-->
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<!-- styles -->
	<link rel="stylesheet" href="css/style.css">
	<title>Gulp</title>
</head>
<body ng-app="myApp" ng-controller="RestosCtrl">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo courgette">Melp<i class="material-icons right">restaurant</i></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">
              <i class="material-icons">home</i>
            </a></li>
            <li><a href="#">Recomendaciones</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="#">
              <i class="material-icons">home</i>
            </a></li>
            <li><a href="#">Recomendaciones</a></li>
          </ul>
        </div>
      </div>
    </nav>
	<div class="container">
		<h1 class="center-align courgette title">Melp</h1>
		<h3 class="center-align courgette subtitle">Find the best dining options in Mexico City!</h3>
		<div class="row">
			<map zoom="17" center="[19.440057053713137, -99.12704709742486]">
				<marker ng-repeat="location in restos" position="{{location.address.location.lat}},{{location.address.location.lng}}" />
			</map>
		</div>
		<div class="row">
			<form>
				<div class="input-field col s8">
					<i class="material-icons prefix">search</i>
					<input type="text" id="icon_prefix" class="validate" ng-model="search">
					<label for="icon_prefix">Search</label>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col s12 m6" dir-paginate="x in restos | itemsPerPage: 6 | filter:search">
				<div class="card">
					<div class="card-content card-height">
						<span class="card-title center-align">{{ x.name }}</span>
						<ul class="collection with-header">
							<li class="collection-header"><i class="material-icons left">contacts</i>Contact</li>
							<li class="collection-item">
								<span>Website: </span><a href="{{x.contact.site}}">{{x.contact.site}}</a>
								<p>Email: {{ x.contact.email }}</p>
								<p>Phone: {{ x.contact.phone }}</p>								
							</li>
							<li class="collection-header"><i class="material-icons left">location_on</i>Address</li>
							<li class="collection-item">
								<p>Address: {{ x.address.street }}, {{ x.address.city }}, {{ x.address.state }} </p>							
							</li>
						</ul>
					</div>
					<div class="card-action">
						<div class="center-align" star-rating rating-value="x.rating" max=5 ></div>
						<p class="center-align">{{x.rating}} de {{5}}</p>
					</div>
				</div>
			</div>
			<dir-pagination-controls class="center-align"></dir-pagination-controls>
		</div>
	</div>
    <!--Import jQuery-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!--Import AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--Import Pagination -->
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>   
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <!--Include ng-map.min.js-->
    <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <!--API Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXXaqyEo9bfGrPEqm2ClDkXRnrxqH_Vb0"></script>
    <!--Import app.js -->
    <script src="js/app.js"></script>
    <!--Import rating directive-->
    <script src="js/directives/rating.js"></script>
    <!--Import Restaurants Controller -->
    <script src="js/controllers/RestoCtrl.js"></script>
    <!--Import restaurant's data -->
    <script src="js/services/data.js"></script>
    <!--Import Init -->
    <script src="js/init.js"></script>
</body>
</html>